body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.carousel-wrapper {
  overflow: hidden;
  margin-left: 1rem; 
  margin-right: 2rem; 
 
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll-left 60s linear infinite;
  align-items: center;
}

.carousel-image img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Animación tipo marquee infinito */
@keyframes scroll-left {
  100% {
    transform: translateX(0%);
  }
  0% {
    transform: translateX(-50%);
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .carousel-track {
    animation-duration: 40s;
  }

  .carousel-image img {
    height: 170px;
  }
}



.sidebar {
  position: fixed;
  left: -250px;
  top: 150px; 
  bottom: 0;
  width: 250px;
  background-color: #000; 
 padding: 1rem;
  color: white;
  transition: left 0.3s;
  margin-left: -1rem;
  z-index: 999;
}

@media only screen and (max-width: 767px) {
  .sidebar {
    top: 147px; 
  }
}



.sidebar.open {
  left: 0;
}
 

  .matu {
    width: 30%;
    max-width: 100%;
    position: absolute;
  right: 60px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 10px; 
    margin-top: 12rem;
  }

  @media only screen and (max-width: 800px) {
    .matu {
      width: 100%;
      max-width: 300px;
    }
  }
  
  /* Modo oscuro */
  .dark-mode .matu {
    border-color: #ccc; 
  }

  .personal {
    width: 70%;
    margin-left: 17rem;
    border-radius: 10%;
    padding-top: 100px;
  }
 
  
  .personal img {
    width: 100%; 
    border-radius: 1%;
    box-shadow: deepskyblue;
  }

  @media only screen and (max-width: 950px) {
    .personal {
      width: 100%; 
      margin-left: 0rem; 
      margin-top: -4rem;
    }
  }

 

  .tecnologias {
    width: 70%;
    margin-left: 17rem;
    border-radius: 2%;
    padding-top: 20px;
  }

  @media only screen and (max-width: 950px) {
    .tecnologias {
      width: 90%; 
      margin: auto; 
    }
  }

  .proyectos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  /* Contenedor de cada card */
  .proyectos .card {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    transition: transform 0.3s ease;
    text-align: center;
    height: 700px;
  }
  
  .proyectos .card:hover {
    transform: scale(1.02);
  }
  
  /* Imagen de la card */
  .proyectos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
  }
  
  /* Texto descriptivo */
  .proyectos .descripcion {
    padding: 1rem;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    background-color: #f8f8f8;
    color: #333;
  }
  
  /* Responsive */
  @media only screen and (max-width: 950px) {
    .proyectos {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  
    .proyectos .card {
      width: 100%;
      height: auto;
    }
  
    /* .proyectos img {
      height: 250px;
    } */
  }
  

  .contacto {
   
      width: 70%;
      margin-left: 17rem;
      border-radius: 2%;
      padding-top: 20px;
    
  }

  @media only screen and (max-width: 950px) {
    .contacto {
      width: 100%; 
      margin-left: 0rem; 
    }
  }

 


  
 

  
  


